<!--<div class="btn-toolbar mb-4" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">-->
    <button (click)="setTimeFrame(1)" class="btn btn-secundary active">1 monts</button>
    <button (click)="setTimeFrame(2)" class="btn btn-secundary active">2 monts</button>
    <button (click)="setTimeFrame(3)" class="btn btn-secundary active">3 monts</button>
    <button (click)="setTimeFrame(6)" class="btn btn-secundary active">6 monts</button>
    <button (click)="setTimeFrame(12)" class="btn btn-secundary active">1 year</button>
  <!--</div>
</div>-->