<div class="row">
  <nav *ngIf="router.url !== '/login'" class="navbar col-12  navbar-expand-sm  navbar-light bg-light">


    <div class="navbar-nav mr-auto">
      <div class="nav-item ml-3">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="/trade-history">Trade history</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="/account-performance">Performace overview</a>
      </div>
    </div>

    <div class="navbar-nav ml-auto">
      <div class="navbar-item mr-3">
        <a class="nav-link" href="/login" (click)="signOut()">Signout</a>
      </div>
    </div>
  </nav>
</div>