<div class="ml-4">
  <div class="row">

    <div class="col text-right ">
      <button (click)="saveCharts()" class="btn btn-secondary ">Save chart settings</button>
      <button (click)="debbugingPurposes()" class="btn btn-secondary ">test btn</button>
    </div>
  </div>

  <app-toggle-view>
    <div class="row">
      <app-create-chart class="col-12"></app-create-chart>
    </div>
  </app-toggle-view>
  <hr>

  <div class="row">
    <app-chartjschart *ngFor="let chart of charts" [(data)]="chart.data" 
    [(id)]="chart.id" class="col-12"
    [chartType]="'chtype-rates-chart'">
    </app-chartjschart>
  </div>
</div>