<div class="mt-3 ml-5">

  <div class="row">

    <div class="col text-right mr-3">
      <button (click)="saveCharts()" class="btn btn-secondary ">Save chart settings</button>
    </div>
  </div>
  
  <app-toggle-view>
    <div class="row">
      <app-create-chart class="col-12 ml-3"></app-create-chart>
    </div>
  </app-toggle-view>
  <hr>

  <div class="row">
    <app-chartjschart *ngFor="let chart of charts" [(data)]="chart.data" [(id)]="chart.id" class="col-12">
    </app-chartjschart>
  </div>
</div>