<div class="">

  <div class="row form-group">
    <label for="input-cur" class="col-3">From</label>
    <div class="col-3">
      <!-- <ss-multiselect-dropdown [options]="inputCurrencies" [texts]="inpCurTexts" [settings]="inpCurSettings" [(ngModel)]="inpCurSelected"
        id="input-cur">
      </ss-multiselect-dropdown> -->
      <ng-multiselect-dropdown [placeholder]="'Select input'" [data]="currencies" [(ngModel)]="inpCurSelected" [settings]="dropdownSettingsSingle">
        </ng-multiselect-dropdown>
    </div>
  </div>

  <div class="row  form-group">
    <label for="out-cur" class="col-3 ">To</label>
    <div class="col-3 ">
      <!-- <ss-multiselect-dropdown [options]="inputCurrencies" [texts]="inpCurTexts" [settings]="inpCurSettings" [(ngModel)]="outCurSelected"
        id="out-cur">
      </ss-multiselect-dropdown> -->
      <ng-multiselect-dropdown [placeholder]="'Select input'" [data]="currencies" [(ngModel)]="outputCurSelected" [settings]="dropdownSettingsSingle">
        </ng-multiselect-dropdown>
    </div>
  </div>

  <div class="form-group row">
    <label for="sum-input" class="col-3  col-form-label">Sum</label>
    <div class="col-3">
      <input class="form-control" type="number" [(ngModel)]="sum" id="sum-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="rate-input" class="col-3  col-form-label">Exchange rate</label>
    <div class="col-3">
      <input class="form-control" type="number" [(ngModel)]="exchangeRate" id="rate-input">
    </div>
  </div>

  <div class="form-group row">
    <label for="rate-input" class="col-3  col-form-label">Date</label>
    <div class="col-3">
      <ng-datepicker #datepick [(ngModel)]="date" class="dp"></ng-datepicker>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <button (click)="createExchange()" class="btn btn-success float-right">Create</button>
    </div>
  </div>

</div>