/* You can add global styles to this file, and also import other style files */
.ngx-datepicker-calendar-container {
    z-index: 10000;
}

@import "~ng-snotify/styles/material";

ss-multiselect-dropdown {
    & .dropdown-item.active,
    & .dropdown-item:active {
      background-color: #e5e5e5
    }
  }

  html {
    overflow-x: hidden;
  }

  .bg-light-grey {
    background-color: #b2b8c1
  }
